
    .main{
        width: 100%;
    }
    .box-0{
        height:150px;
        background:#e8e8e8;
        text-align: center;
    }
    .home_head{
        margin-top:15px;
    }
    .my_home{
        float:left;
        margin-left: 20px;
        margin-top:20px;
        border-radius: 5px;
    }
    .user_photo{
        text-decoration: none;
    }
    .my_wallet{
        margin-left: 400px;
        padding-top: 30px;
        float: left;
    }
    .box-1{
        margin-top: 20px;
    }
    .other{
        float: left;
    }
    .operate{
        float: right;
    }
    .collapse>ul>li{
        display: block;
        width:1000px;
        height:180px;
        list-style:none;
        margin-top:20px;
    }
